[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["npm install --legacy-peer-deps", "npx playwright install chromium --with-deps"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node dist/index.js"
